.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start ;
    
}
.container > div{
    
    height: 20em;
    width: 10em;
    border: 5px solid black;
    margin-bottom: 2em;
    
}
.itemDiv {
    white-space: initial;
}
.itemDiv > button{
    display: flex;
}
.toDoItem{
    height: 8em;
    border: solid black;
    border-left: 5px;
    border-right: 5px;
    overflow: hidden;
}
.addBtn {
    position: absolute;
    top: 1em;
    right: 1em;
    
}   
#nd-1 {
    text-decoration-color: red;
    text-decoration-thickness: 5px;
    display: flex;
    align-items: center;
 
}
#note{
    align-self: center;
}
#noteline {
    align-self: center;
}