.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start ;
    background-color: #f5e6cc;
    
}
.container > div{
    
    height: 20em;
    width: 10em;
    border: 8px solid #ffb484;
    border-radius: 5%;
    margin-bottom: 2em;
    
}
#addEvent{
    background-color: #ffb484;
}
.itemDiv {
    word-break: break-word;
}
.itemDiv > button{
    display: flex;
}
#valueP{
    width:10em;
}
.titleDiv{
    height: 5.5em;
    top: 0;
}
.toDoItem{
    height: 10em;
    border: solid #ffb484;
    border-left: 5px;
    border-right: 5px;
    overflow: auto;
}
.addBtn {
    position: absolute;
    top: 1em;
    right: 1em;
    
}   
#nd-1 {
    text-decoration-color: red;
    text-decoration-thickness: 5px;
    display: flex;
    align-items: center;
 
}
#note{
    align-self: center;
}
#noteline {
    align-self: center;
}
.itemDiv-1{
    background: rgb(255, 255, 255);
}
.itemDiv-2{
    background: rgb(255, 255, 225);
}
.itemDiv-3{
    background: rgb(255, 255, 195);
}
.itemDiv-4{
    background: rgb(255, 255, 165);
}
.itemDiv-5{
    background: rgb(255, 255, 135);
}
.itemDiv-6{
    background: rgb(255, 255, 105);
}
.itemDiv-7{
    background: rgb(255, 255, 75);
}
.itemDiv-8{
    background: rgb(255, 255, 45);
}
.itemDiv-9{
    background: rgb(255, 255, 5);
}
.itemDiv-10{
    background: rgb(255, 255, 0);
}
#deco{
    height:5em;
    border: 10px solid #17e9e0;
    background-color: #17e9e0;


}
#deco1{
    font-size: 3em;
    color: #f5e6cc;
    text-shadow: 1px 1px 3px #fccd04, 1px 1px 6px #a64ac9;
}
#jcode{
    position: absolute;
    transform: rotate(90deg);
    bottom: 15px;
    right: 0;
}

#a64ac9
fccd04
ffb484
f5e6cc
17e9e0